.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 4rem 1fr;
    grid-template-areas:
        "topbar topbar topbar"
        "sidebar main main";
    height: 100%;
}

.topbar {
    grid-area: topbar;
}

.sidebar {
    grid-area: sidebar;
}

.log {
    grid-area: log;
}

.main {
    grid-area: main;
    padding: 2rem;
    overflow-y: scroll;
}
