@import 'tailwindcss';

@theme {
	--color-dark: red;
	--color-normal: red;
	--color-light: red;
	--color-extralight: red;
	--color-superlight: red;
	--color-bright: red;
	--color-sidebar: red;
	--color-login: red;
}

@utility noscroll {
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

:root {
	--w-sidebar: 13rem;
	transition: background 0.4s, color 0.4s;
}

.dark {
	--background: #0a0a0a;
	--foreground: #ededed;
	--color-dark: #1a1a1a;
	--color-sidebar: #121212;
	--color-normal: #171717;
	--color-light: #212121;
	--color-extralight: #323232;
	--color-superlight: #424242;
	--color-bright: white;
	--color-login: #fd8738;
}

.light {
	--background: #ffffff;
	--foreground: #171717;
	--color-dark: #e7e5dd;
	--color-sidebar: #d2bd96;
	--color-normal: #fafdf3;
	--color-light: #f0efe0;
	--color-extralight: #c4c4c4;
	--color-superlight: #b0b0b0;
	--color-bright: black;
	--color-login: #fd8738;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	transition: background 0.4s, color 0.4s;
}

