<form *ngIf="images.length > 0">
  <mat-form-field class="row">
    <mat-label>{{title}}</mat-label>
    <input type="text"
          placeholder="Pick one"
          matInput
          [formControl]="selectedImg"
          [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let img of filteredOptions | async" [value]="img.name">
        <div class="dropdown-item">
          <img alt="" [src]="'https://cdn.login.no/' + img.filepath + img.name" height="25">
          <span>{{img.name}}</span> |
          <small>{{ (+img.size / 1000) | number:'1.0-0' }} KB</small>
        </div>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
