<div class="container wide">
  <h1 mat-dialog-title>Image manager - {{title}}</h1>
    <div mat-dialog-content>
      <div class="topbar">
        <button class="menu-btn square-btn" (click)="rotateLeft()" title="Rotate Left">↩️</button>
        <button class="menu-btn square-btn" (click)="rotateRight()" title="Rotate Right">↪️</button>
        <button class="menu-btn square-btn" (click)="flipHorizontal()" title="Flip Horizontally">↔️</button>
        <button class="menu-btn square-btn" (click)="flipVertical()" title="Flip Vertically">↕️</button>
        <button class="menu-btn" (click)="reset()" title="Reset">Reset</button>
      </div>

      <input class="file-input" type="file" (change)="fileChangeEvent($event)" accept=".jpg, .jpeg, .png, .svg"/>

      <div *ngIf="!cropped">
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="aspectRatio"
          [cropperMinWidth]="128"
          [onlyScaleDown]="true"
          [roundCropper]="false"
          format="png"
          outputType="base64"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (confirmed)="cropperConfirm()"
          [style.display]="showCropper ? null : 'none'"
        ></image-cropper>
      </div>

      <div *ngIf="cropped">
        <img class="image" [src]="croppedImage" />
        <p *ngIf="!croppedImage">Missing image!</p>
      </div>
    </div>

    <div mat-dialog-actions class="upload-btn">
      <button
        mat-raised-button
        color="primary"
        (click)="onUpload()"
        [disabled]="isInvalid()">
        <span class="material-symbols-sharp">upload</span>Upload Image
      </button>
    </div>
</div>
