.theme-toggle_svg {
    height: 3rem;
    padding: .8rem .8rem;
}

.dark .theme-toggle_svg {
    fill: white
}

.theme-toggle_sun-ray {
    transition: .4s;
}

.light .theme-toggle_sun-ray {
    opacity: 0;
}

.dark .theme-toggle_sun-ray {
    opacity: 1;
}

.theme-toggle_mask-circle {
    transition: .4s;
}

.dark .theme-toggle_mask-circle {
    transform: translate(2rem, -1rem);
}

.theme-toggle_sun-moon {
    transform-origin: center;
    transition: .4s;
}

.light .theme-toggle_sun-moon {
    transform: scale(1.9);
    fill: white;
}

.dark .theme-toggle_sun-moon {
    transform: scale(1);
    fill: white;
}
