<form [formGroup]="orgForm" class="form">
    <div class="block">
        <h2>General Information</h2>
        
        <p *ngIf="disableShortnameInput" class="weak-text">(Shortname cannot be changed, because it's a PK.)</p>
        <div class="row row-with-tooltip">
            <mat-form-field class="input-field">
                <input matInput formControlName="shortname" required>
                <mat-label>Shortname</mat-label>
            </mat-form-field>
            <app-tooltip tip="Shortname is the primary key of this object, it will not be displayed on Beehive. Also it cannot be edited!"></app-tooltip>
        </div>

        <div class="general-grid">
            <section id="org">
                <h2>🇳🇴 NOR</h2>
                <div>
                    <div class="row row-with-tooltip">
                        <mat-form-field class="input-field">
                            <input matInput formControlName="name_no" required>
                            <mat-label>Name NOR</mat-label>
                        </mat-form-field>
                        <app-tooltip tip="Norwegian name of the organization."></app-tooltip>
                    </div>
                    <app-markdown-textfield (newMdText)=onDescriptionNoChange($event) [placeholder]="'Description NOR'" class="row" />
                    <mat-error *ngIf="orgForm.controls['description_no'].hasError('required')">
                        This field is <strong>required</strong>
                    </mat-error>
                </div>
            </section>
            
            <section id="org">
                <h2>🇺🇸 ENG</h2>
                <div>
                    <div class="row row-with-tooltip">
                        <mat-form-field class="input-field">
                            <input matInput formControlName="name_en" required>
                            <mat-label>Name ENG</mat-label>
                        </mat-form-field>
                        <app-tooltip tip="English name of the organization."></app-tooltip>
                    </div>
                    <app-markdown-textfield (newMdText)=onDescriptionEnChange($event) [placeholder]="'Description ENG'" class="row" />
                    <mat-error *ngIf="orgForm.controls['description_en'].hasError('required')">
                        This field is <strong>required</strong>
                    </mat-error>
                </div>
            </section>
        </div>
    </div>
  
    <div class="block">
        <div class="row-with-tooltip" style="align-items: center;">
            <h2>Social Links</h2>
            <app-tooltip style="padding: 1rem;" tip="Social links to the organizations platforms."></app-tooltip>
        </div>
        
        <mat-form-field class="row">
            <input matInput formControlName="link_homepage" required>
            <mat-label>Link Homepage</mat-label>
            <mat-error *ngIf="orgForm.controls['link_homepage'].hasError('required')">
                This field is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="row">
            <input matInput formControlName="link_linkedin">
            <mat-label>Link Linkedin</mat-label>
        </mat-form-field>

        <mat-form-field class="row">
            <input matInput formControlName="link_facebook">
            <mat-label>Link Facebook</mat-label>
        </mat-form-field>

        <mat-form-field class="row">
            <input matInput formControlName="link_instagram">
            <mat-label>Link Instagram</mat-label>
        </mat-form-field>
    </div>

    <div class="block">
        <h2>Logo</h2>
        <div class="upload">
            <button class="img-manager-btn" (click)="imageManager()" mat-raised-button color="primary">
                <span class="material-symbols-sharp">upload</span>Upload Logo 
            </button>
            <div *ngIf="uploadStatus === 'success'" class="upload-message success">
                ✅ Logo uploaded successfully!
            </div>
            <div *ngIf="uploadStatus !== 'success' && uploadStatus" class="upload-message error">
                ❌ {{ uploadStatus }}
            </div>
        </div>

          <div class="row row-with-tooltip">
            <app-image-selector 
                class="input-field"
                [title]="'Organization Logo'"
                [value]="orgForm.get('logo')?.value"
                [path]="'/organizations'"
                (valEmitter)="onImageLogoChange($event)"
            ></app-image-selector>
            <app-tooltip tip="Select this organizations logo. Please upload if not present in th dropdown."></app-tooltip>
        </div>
        <mat-error *ngIf="orgForm.controls['logo'].hasError('required')">
            Logo is <strong>required</strong>
        </mat-error>
    </div>
  </form>