.general-grid {
    display: grid;
    grid-template: repeat(3, min-content) / repeat(2, 1fr);
    grid-template-areas: 
    "organization city"
    "jobType skill"
    "timePublish high";
    column-gap: 3rem;
    width: 100%;
}

.intro {
    margin-bottom: 2rem;
}

.upload {
    display: flex;
}

.upload-message {
    padding: 6.5px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}

.success {
    color: green;
}

.error {
    color: red;
}

#selectorOrganization {
    grid-area: organization;
}

#jobType {
    grid-area: jobType
}

#timePublish {
    grid-area: timePublish;
}

#skillSelector {
    grid-area: skill;
}

#citySelector {
    grid-area: city;
}

#highlight {
    grid-area: high;
}