<form [formGroup]="ruleForm">
    <div class="block">
        <div class="general-grid">
            <section id="rule">
                <h2>🇳🇴 NOR</h2>
                <div>
                    <div class="row row-with-tooltip">
                        <mat-form-field class="input-field">
                            <input matInput formControlName="name_no" maxlength="50">
                            <mat-label>Rule Name NOR</mat-label>
                            <mat-hint align="end">{{ruleForm.get('name_no')?.value?.length || 0}} / 50</mat-hint>
                            <mat-error *ngIf="ruleForm.controls['name_no'].hasError('required')">
                                This field is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <app-tooltip tip="Name of rule, f.ex 'TekKom regler'. This name should reflect the rules defined in the description." />
                    </div>

                    <app-markdown-textfield 
                        class="row"
                        [placeholder]="'Description NOR *'"
                        [value]="ruleForm.get('description_no')?.value"
                        (newMdText)=onDescriptionNoChange($event)>
                    </app-markdown-textfield>
                    <mat-error *ngIf="ruleForm.controls['description_no'].hasError('required')">
                      This field is <strong>required</strong>
                  </mat-error>
                </div>
            </section>

            <section id="rule">
                <h2>🇺🇸 ENG</h2>
                <div>
                    <div class="row row-with-tooltip">
                        <mat-form-field class="input-field">
                            <input matInput formControlName="name_en" maxlength="50">
                            <mat-label>Rule Name ENG</mat-label>
                            <mat-hint align="end">{{ruleForm.get('name_en')?.value?.length || 0}} / 50</mat-hint>
                            <mat-error *ngIf="ruleForm.controls['name_en'].hasError('required')">
                                This field is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <app-tooltip tip="Name of rule, f.ex 'TekKom regler'. This name should reflect the rules defined in the description." />
                    </div>

                    <app-markdown-textfield 
                        class="row"
                        [placeholder]="'Description ENG *'"
                        [value]="ruleForm.get('description_en')?.value"
                        (newMdText)=onDescriptionEnChange($event)>
                    </app-markdown-textfield>
                    <mat-error *ngIf="ruleForm.controls['description_en'].hasError('required')">
                      This field is <strong>required</strong>
                  </mat-error>
                </div>
            </section>
        </div>
    </div>
</form>
